body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin-top: 20px;
  margin-left: 16px;
  color: #5a6275;
}
ul {
  color: #5a6275;
  font-size: 18px;
  padding-bottom: 4px;
  padding-left: 14px;
  list-style: none;
  margin-left: 4px;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
.card {
  margin-bottom: 8px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 8%);
}
.card-body {
  margin-top: 10px;
  padding-right: 20px;
  padding-bottom: 0;
}
.form-control {
  width: 100%;
  display: inline;
}
.detail {
  border-top: 2px solid black;
  padding-top: 10px;
  margin-left: 6px;
  font-size: 14px;
  color: #5a6275;
}
.col-7 {
  margin-top: 20px;
  padding: 0;
}
.col-5 {
  padding-right: 0;
}
.main {
  color: #202124;
  font-size: 64px;
  line-height: 64px;
  padding: 0;
}
.unit {
  font-size: 18px;
  color: #878787;
  position: relative;
  top: -32px;
}
.col-2 {
  margin: 0;
  text-align: center;
}
.forecast-icon {
  width: 50px;
  display: block;
  margin: 0 auto;
}
.forecast-temperature {
  font-size: 12px;
}
.forecast-day {
  font-size: 15px;
}
.temperature-min-forecast {
  color: #878787;
}
.weather-forecast {
  margin-top: 10px;
  margin-bottom: 12px;
}
.main-weather {
  text-align: center;
}
.main-weather canvas {
  padding: 0;
}
